:root {
    --color-neutral-0: #ffffff;
    --color-neutral-1: #F6F2EE;
    --color-neutral-2: #77726e;
    --color-neutral-3: #323841;
    --color-neutral-4: #434b55;
    --color-neutral-5: #B3B9C1;
    --color-neutral-6: #CACBCD;
}